<div class="app" style="padding-left: 20px">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card drop-shadow">
          <div class="card-body" style="padding: 20px">
            <form>
              <div class="form-group">
                <label for="">Select Top Image</label>
                <input
                  type="file"
                  class="form-control"
                  accept="image/*"
                  (change)="preview($event)"
                />
              </div>
              <div class="form-group mt-2">
                <label for="">Select Bottom Image</label>
                <input
                  type="file"
                  class="form-control"
                  accept="image/*"
                  (change)="preview1($event)"
                />
              </div>

              <div class="form-group mt-2">
                <label for="">Top Text</label>
                <input
                  type="text"
                  class="form-control"
                  name="topText"
                  [(ngModel)]="topText"
                  (keyup)="drawText()"
                />
              </div>

              <div class="form-group mt-2">
                <label for="">Bottom Text</label>
                <input
                  type="text"
                  class="form-control"
                  name="bottomText"
                  [(ngModel)]="bottomText"
                  (keyup)="drawText()"
                />
              </div>

              <div class="row mt-2" style="padding-left: 40px">
                <div class="col-md-6">
                  <div class="form-group">
                    <label
                      class="d-flex justify-content-center"
                      style="padding-right: 40px"
                      for=""
                      >Text Color</label
                    >
                    <color-chrome
                      (onChangeComplete)="canvasTextColor($event)"
                    ></color-chrome>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label
                      class="d-flex justify-content-center"
                      style="padding-right: 40px"
                      for=""
                      >Background Color</label
                    >
                    <color-chrome
                      (onChangeComplete)="canvasBgColor($event)"
                    ></color-chrome>
                  </div>
                </div>
              </div>

              <div class="d-grid gap-2">
                <button
                  class="btn btn-outline btn-block mt-4"
                  style="
                    color: #00d26a;
                    font-weight: bold;
                    border-color: #00d26a;
                  "
                  onmouseover="this.style.backgroundColor='#00d26a'; this.style.color='white'"
                  onmouseout="this.style.backgroundColor='transparent'; this.style.color='#00d26a'"
                  (click)="downloadImg()"
                >
                  Download
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <canvas
          class="drop-shadow"
          #memeCanvas
          width="600"
          height="650"
        ></canvas>
      </div>
    </div>
  </div>
</div>
